/* Footer styles */

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
    
    @media #{$brk-wide} {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
    }
}

footer .copyright {
    top: -8px;
    font-size: .75em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a {
    
    &.social {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
    }

    &.twitter {
    background-image: url(../img/twitter-32.png);
    }

    &.youtube {
    background-image: url(../img/youtube-32.png);
    }

    &.spotify {
    background-image: url(../img/spotify-32.png);
    }

    &.social:hover {
    opacity: 1;
    }
    
}

.clearfix {
    clear: both;
}
