header {
    @extend %centered;
    background: url('../img/concert02.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    height: 350px;

    @media #{$brk-wide} {
    min-height: 470px;
    }
}

.tag {
    color: black;
    padding: 10px;
    letter-spacing: 5px;
}

.name {
    font-weight: 300;
}

header .tagname {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3em;
    @extend %centered;
    padding-top: 15px;
    margin-bottom: 20px;
    color: $color-tagname;

    @media #{$brk-wide} {
    font-size: 4em;
    padding-top: 40px;
    }
}

.tagline {
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: $color-tagline;

    @media #{$brk-wide} {
    font-weight: 400;
    font-size: 2em;
}
    }
