// DESCRIPTIVE COLOR VARIABLES

$white      : #fff;
$lightgreen : #81B5A3;
$darkgray   : #2d2b30;
$gray       : #999;
$orange     : #f9b677;
$mineshaft  : #333333;
$darkred    : #781125;
$dargreen   : #316154;
$bone       : #e3d4c1;
$wheat      : #f6d2b0;
$gold       : #96731A;

// FUNCTIONAL COLOR VARIABLES

$color-body         : $darkgray;
$color-body-text    : $lightgreen;
$color-anchor       : $gray;
$color-focus        : $orange;
$color-white        : $white;
$color-tagname      : $mineshaft;
$color-tagline      : $darkred;
$color-dropdown     : $dargreen;
$color-border       : $lightgreen;
$color-card-focus   : $gold;
$color-heading      : $bone;
$color-table        : $wheat;

// MEDIA QUERY BREAKPOINT

$brk-wide           : '(min-width: 840px)';